
.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  padding-top: 30px;
}

.App-header {
  /*background-color: #5f6f63;*/
  background: linear-gradient(to bottom right, #5f6f63, #9FB8AD, #CED0CE);
  height: 270px;
  padding: 1px;
}

.Title{
  color: #222;
  margin-top: -20px;
}

.list{
  list-style: none;
  font-size: 1em;
  margin-top: -5px;
}

li{
  display: inline-block;
  padding: 1em 2em 2em 10px;
  color: #C2574A;
  text-decoration: none;
}

.listItem, .listItem:visited, .listItem:active {
  color: #C2574A;
  text-decoration: none;
  font-family: 'Cutive Mono', monospace;
}

.listItem:hover {
  color: #CED0CE;
  cursor: pointer;
  text-decoration: none;
}

.heroImage {
  height: 400px;
}

.smallImage {
  height: 200px;
}

.mattGonzer {
  /*background: linear-gradient(to bottom right, #E6E8E6, #CED0CE);*/
  /*margin-top: -40px;*/
  padding: 50px 0 0 0;
  height: 400px;
}

.mg {
  margin-top: 0;
  margin-bottom: 0;
  color: #5F6F63;
  font-size: 2.5em;
}

.fullStack {
  margin-top: 0;
}

.about {
  height: 400px;
  background: #9FB8AD;
}

.projectsContainer {
  margin: 0 5% 0 5%;
  background: #9FB8AD;
  border-style: solid;
  border-width: .8px;
}

.project {
  text-align: center;
  clear: both;
  color: black;
  border-bottom: solid 1px #CED0CE;
  width: 50%;
  margin: 0 auto;
}

p {
  text-align: left;
  padding-left: 5%;
  width: 600px;
  position: absolute;
  font-size: .8em;
  font-family: 'Lato', sans-serif;
  color: black;
}

.projectBox {
  background-color: #E6E8E6;
  padding: 20px;
  height: 300px;
}

.projectBox2 {
  height: 300px;
  padding: 20px;
}

.image1 {
  height: 200px;
  float: right;
  margin-right: 5%;
}

.image1:hover {
  transform: scaleY(1.1) scaleX(1.1);
  cursor: pointer;
}

.mattPhoto {
  height: 120px;
}

.footer {
  height: 150px;
  background: #5f6f63;
  padding-top: 10px;
  font-size: 20px;
  margin-top: 2em;
}

.resumeButton {
  width: 30%;
  padding: .5em;
  font-size: .5em;
  font-family: myFont;
  margin-top: 2em;
  background: #9FB8AD;
  border-radius: 5px;
  border-style: none;
}

.resumeButton:hover {
  background: #5F6F63;
}

.resumeButton:focus{
  outline: none;
}
